<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<%= link_to 'Click on this link to choose a new password', "https://testapiback.fly.dev/new-password/reset_token=#{@token}"%>
<p> prout prout </p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
